html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
}
.section {
  max-width: 375px;
  margin: 0 auto;
  overflow: hidden;
}

button {
  cursor: pointer;
  padding: 0;
}
/* HEADER STYLES MOBILE=============================== */
.section-header {
  background-color: #8a8883;
}
.logo-box-header {
  padding: 25px 15px 25px 20px;
  position: relative;
}
.nav-box {
  display: none;
}
.icon-header {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.btn {
  stroke: #ffffff;
  opacity: 0.7;
  background-color: transparent;
  border: none;
}
.btn-menu-open {
  padding: 25px 25px;
  position: relative;
}
.btn-menu-open::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 75px;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
.btn-box-header {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-box-header::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 75px;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
/* HERO STYLES ================================ */
.section-hero {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../images/mainpage/mobile/hero_bg_mobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.container-hero {
  padding: 170px 20px 214px 20px;
}
.box-from-decktop-hero {
  display: none;
}
.hero-title {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 35px;
  width: 300px;
}
.img-logo-hero-bg {
  width: 188px;
  height: 63px;
  flex-shrink: 0;
  margin-bottom: 12px;
}
.link-to-catalog-hero-bg {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 2px;
}
.box-with-link-arrow {
  position: relative;
  width: 118px;
  border-bottom: 1px solid #fff;
}
.box-with-link-arrow::after {
  content: '';
  position: absolute;
  bottom: -3px;
  right: -2px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 3px;
  border-top-width: 3px;
  border-left: 5px solid #fff;
}
/* BRAND STYLES================ */
.container-brand {
  padding: 56px 20px 30px 20px;
  overflow: visible;
}
.img-traia-mobile {
  max-width: 386px;
  margin-left: -20px;
  margin-bottom: 35px;
}
.title-brand {
  color: #8a8883;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
}
.text-brand {
  color: #222;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 35px;
}
.thanks {
  margin-bottom: 0;
}
.block-brand-with-pic {
  position: relative;
  margin-left: -20px;
  margin-bottom: 35px;
  width: 375px;
  height: 220px;
  background-image: url(../images/mainpage/bath_1.jpg),
    url(../images/mainpage/bath_2.jpg), url(../images/mainpage/bath_3.jpg);
  background-size: contain, 128px, contain;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: -64px 37px, 128px 0, 275px 30px;
}
.block-brand-with-pic::before {
  content: '';
  position: absolute;
  width: 218px;
  height: 1px;
  background-color: #8a8883;
  bottom: 0;
  right: 0;
}
.block-brand-with-pic::after {
  content: '';
  position: absolute;
  bottom: -2.5px;
  right: 218px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-right: 5px solid #8a8883;
}
/* PRODUCT STYLES=================== */
.container-product {
  padding: 30px 20px 15px 20px;
  overflow: hidden;
}
.title-product {
  color: #8a8883;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 30px;
}
.list-of-product {
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 15px;
}
.item-product {
  display: inline-block;
}
.item-product:nth-child(1),
.item-product:nth-child(2) {
  margin-right: 10px;
}
.item-product img {
  width: 150px;
  height: 200px;
  margin-bottom: 15px;
}
.name-of-product {
  color: #8a8883;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 8px;
}
.link-product-catalog {
  color: #222;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 15px;
  padding-right: 10px;
  border-bottom: 1px solid #222;
  position: relative;
}
.link-product-catalog::after {
  content: '';
  position: absolute;
  bottom: -3px;
  right: -2px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 3px;
  border-top-width: 3px;
  border-left: 5px solid #222;
}
/* MATERIALS STYLES================= */
.container-materials {
  padding: 30px 20px 30px 20px;
}
.title-materials {
  color: #8a8883;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
}
.block-meterial-with-pic {
  display: flex;
  flex-direction: row;
  gap: 52px;
  align-items: center;
  padding: 253px 16px 23px 16px;
  position: relative;
  margin-bottom: 35px;
  width: 335px;
  height: 300px;
  background-image: url(../images/mainpage/material.jpg),
    url(../images/mainpage/cosmos.jpg);
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: top 0 left 0, bottom 0 left 0;
}
.text-material {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 35px;
}
.text-material-link {
  color: #fff;
  font-size: 10px;
  font-weight: 300;
  width: 172px;
}
.text-material-more-details {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  padding-right: 10px;
  border-bottom: 1px solid #fff;
  position: relative;
}
.text-material-more-details::after {
  content: '';
  position: absolute;
  bottom: -3px;
  right: -2px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 3px;
  border-top-width: 3px;
  border-left: 5px solid #fff;
}
.text-about-designer {
  margin-bottom: 0;
}
/* COOPERATION STYLES============== */
.container-cooperation {
  padding: 30px 20px 30px 20px;
  overflow: visible;
}
.title-cooperation {
  color: #8a8883;
  font-size: 22px;
  font-weight: 400;
}
.under-title-cooperation {
  color: #8a8883;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 25px;
}
.text-cooperation {
  color: #222;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 35px;
}
.img-cooperation {
  margin-bottom: 35px;
  max-width: 375px;
  margin-left: -20px;
}
.link-term-cooperation {
  color: #222;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  padding-right: 30px;
  border-bottom: 1px solid #222;
}
.link-term-cooperation::after {
  content: '';
  position: absolute;
  bottom: -3px;
  right: -2px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 3px;
  border-top-width: 3px;
  border-left: 5px solid #222;
}
.text-create-place {
  margin-bottom: 15px;
}
/* SECTION FORM STYLES======================= */
.container-form {
  padding: 35px 20px 45px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/mainpage/mobile/form_bg_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.text-form {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 26px;
}
.form-box {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.input-field {
  width: 110px;
  height: 30px;
  background-color: white;
  border: none;
  padding: 9px 8px 10px 8px;
  color: #222222;
  font-size: 9px;
  font-weight: 100;
}
.input-field::placeholder {
  color: rgba(17, 17, 17, 0.5);
  font-size: 9px;
  font-weight: 400;
}
.btn-send-mobile {
  width: 100px;
  height: 30px;
  border: none;
  padding: 9px 16px 10px 16px;
  color: #fff;
  text-align: center;
  font-size: 9px;
  font-weight: 500;
  background-color: #8a8883;
}

/* FOOTER STYLES============================ */
.section-footer {
  background-color: #8a8883;
}
.container-footer {
  padding: 35px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 10px;
  font-weight: 300;
}
.box-footer-logo {
  margin-bottom: 9px;
  position: relative;
}
.btn-scroll-up {
  position: absolute;
  top: 6px;
  right: 20px;
  display: block;
  width: 23px;
  height: 23px;
  background-color: #ffffff;
  border-radius: 50px;
}
.box-footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.nav-list-footer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}
.nav-list-footer::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 73px;
  top: 0;
  left: -15px;
  background-color: rgba(255, 255, 255, 0.3);
}
.list-of-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}
.list-of-menu::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 73px;
  top: 0;
  left: -15px;
  background-color: rgba(255, 255, 255, 0.3);
}

.link-address {
  color: #fff;
}
.list-socmedia {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.box-footer-list-down {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.box-text-privacy {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
/* ===============DESCKTOP================== */

@media screen and (min-width: 1440px) {
  .section {
    max-width: 1440px;
  }
  /* HERO STYLES============================== */
  .section-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../images/mainpage/hero_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .container-hero {
    padding: 320px 135px 95px 135px;
  }
  .box-from-decktop-hero {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
  }
  .hero-title {
    font-size: 20px;
    margin-bottom: 28px;
    width: 400px;
  }
  .img-logo-hero-bg {
    width: 342px;
    height: 117px;
    margin-bottom: 28px;
  }
  .link-to-catalog-hero-bg {
    font-size: 18px;
    margin-bottom: 2px;
  }
  .box-with-link-arrow {
    width: 188px;
  }
  .box-with-link-arrow::after {
    bottom: -6px;
    right: -4px;
    border-bottom-width: 6px;
    border-top-width: 6px;
    border-left: 11px solid #fff;
  }
  .text-direct-to-media {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
  }
}
